
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>OpenFoos</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/profile.css'}" />
        <script src="@{'/public/javascripts/jquery-1.7.2.js'}"></script>
        <script src="@{'/public/bootstrap/js/bootstrap.js'}"></script>



        <script type="text/javascript" >
    
            $(document).ready(function(){
        
        
                $('#main_typeahead').typeahead()
                .on('keyup', function(ev){
            
                    ev.stopPropagation();
                    ev.preventDefault();
            
                    //filter out up/down, tab, enter, and escape keys
                    if( $.inArray(ev.keyCode,[40,38,9,13,27]) === -1 ){
                
                        var self = $(this);
                
                        //a empty source
                        self.data('typeahead').source = [];
                
                        //active used so we aren't triggering duplicate keyup events
                        if( !self.data('active') && self.val().length > 0){
                    
                            self.data('active', true);
                    
                            //Do data request. Insert your own API logic here.
                            $.getJSON("@{Application.autocomplete()}"
                        
                        
                                //if we dont use filter vi the typehead can sort list for us. 
                                //or change the method sett Like  % var % 
                                // filter: $(this).val() use this for PlayerController
                        
                        
                                , function(data) {
                        
                                //set this to true when your callback executes
                                self.data('active',true);
                        
                                //change values
                                var arr = [],
                        
                                i=data.length;
                                while(i--){
                            
                            
                                    if (data[i].team_name != null ){
                                        arr[i] = data[i].team_name
                                    }
                                     if (data[i].username != null ){
                                        arr[i] = data[i].username
                                    }
                                }
                        
                                //set your results into the typehead's source 
                                self.data('typeahead').source = arr;
                        
                                //trigger keyup on the typeahead to make it search
                                self.trigger('keyup');
                        
                                //All done, set to false to prepare for the next remote query.
                        
                                self.data('active', false);
                        
                            });
                    
                        }
                    }
                });
        
      
        
        
        
        
            });
    
        </script>






    </head>


    <body>
        <div class="navbar navbar-fixed-top" >
            <div class="navbar-inner">
                <div class="container">
                   
                   
           <ul class="nav">
                        <li class="${page == 'main' ? 'active' : ''}">
                            <a class="brand" href="/main">
                                <i class="icon-fire icon-white"></i>
                                OpenFoos
                            </a> 
                        </li>
                        #{if session.login}
                        <li class="${page == 'profile' ? 'active' : ''}">
                            <a href="">
                                <i class="icon-home ${page == 'profile' ? 'icon-white' : ''}"></i>
                                Home
                            </a>
                        </li>
                        #{/if}
                    </ul>

                    <form class="navbar-search pull-right">
                        <input type="text" data-provide="typeahead" class="search-query span3" placeholder="Search" id="main_typeahead">   
                    </form>
                    #{if session.login}
                    <ul class="nav pull-right">
                        <li class="dropdown ${page == 'settings' ? 'active' : ''}">
                            <a class="dropdown-toggle"
                               data-toggle="dropdown"
                               href="#">
                                <i class="icon-user icon-white"></i>
                                <b class="caret"></b>
                            </a>

                            <ul class="dropdown-menu pull-right">
                                <li><a href="@{Players.profile(session.pname)}" ><i class="icon-user"></i> View my profile page</a></li>
                                <li><a href="@{Players.settings()}"><i class="icon-pencil"></i> Settings</a></li>
                                <li class="divider"></li>
                                <li><a href="@{Players.logout_player()}"><i class="icon-remove"></i> Sign out</a></li>
                            </ul>

                        </li>
                    </ul>
                    #{/if}
                </div>
            </div>
        </div>

        <div class="container">

            #{doLayout /}

        </div><!-- END .container -->


    </body>
</html>
