#{extends 'main.html' /}
#{set page:'settings' /}
<script type="text/javascript" src="/public/javascripts/text_manipulation/openfoos_text.js"></script>

<script type="text/javascript" >
    
    $(document).ready(function(){
        
        
        $('#arch-rival').typeahead()
        .on('keyup', function(ev){
            
            ev.stopPropagation();
            ev.preventDefault();
            
            //filter out up/down, tab, enter, and escape keys
            if( $.inArray(ev.keyCode,[40,38,9,13,27]) === -1 ){
                
                var self = $(this);
                
                //a empty source
                self.data('typeahead').source = [];
                
                //active used so we aren't triggering duplicate keyup events
                if( !self.data('active') && self.val().length > 0){
                    
                    self.data('active', true);
                    
                    //Do data request. Insert your own API logic here.
                    $.getJSON("@{Teams.allTeamsByTeam_name()}",{
                        
                        
                        //if we dont use filter vi the typehead can sort list for us. 
                        //or change the method sett Like  % var % 
                        // filter: $(this).val() use this for PlayerController
                        
                        
                        filter: self.val()
                    }, function(data) {
                        
                        //set this to true when your callback executes
                        self.data('active',true);
                        
                        //change values
                        var arr = [],
                        
                        i=data.length;
                        while(i--){
                            arr[i] = data[i].team_name
                        }
                        
                        //set your results into the typehead's source 
                        self.data('typeahead').source = arr;
                        
                        //trigger keyup on the typeahead to make it search
                        self.trigger('keyup');
                        
                        //All done, set to false to prepare for the next remote query.
                        
                        self.data('active', false);
                        
                    });
                    
                }
            }
        });
        
        doInputfeltTricks();
        
        
        
        
    });
    
</script>
<div class="row">
    <div class="dashboard">
        <div class="span4 card section">
            <ul class="thumbnails">
                <li>
                    <a href="/players/profile/${player?.username}" class="thumbnail">
                        <img src="@{'/public/images/xsmall'}/${player?.image}" alt="${player?.username}">
                    </a>
                </li>
                <li>
                    <h3>${player?.first_name} ${player?.last_name}</h3>
                    <p class="subheader">View your profile page</p>
                </li>
            </ul>
            #{if (player?.first_name != null && player?.last_name != null && player?.email != null && 
            player?.rfid != null && player?.bio != null)}
            <div class="progress progress-striped
                 active">
                <div class="bar"
                     style="width: 100%;"></div>
            </div>
            #{/if}
         
        </div>

        <div class="span4">
            <ul id="profile-menu" class="nav nav-tabs nav-stacked ">
                <li class="active">
                    <a href="#account" data-toggle="tab">Account
                        <i class="icon-chevron-right pull-right"></i>
                    </a></li>

                <li><a href="#team" data-toggle="tab">${team.team_name}
                        <i class="icon-chevron-right pull-right"></i>
                    </a>
                </li>
                <li><a href="#password" data-toggle="tab">Password
                        <i class="icon-chevron-right pull-right"></i>
                    </a>
                </li>
            </ul>
        </div>

    </div>
    <div class="tabbable" style="float: right"> 
        <div class="span8">
            <div class="tab-content card">
                <div class="tab-pane active" id="account">
                    <h2>Account</h2>
                    <h3 class="title underline section ">Change your basic account.</h3>


                    <!-- FOR PLAYER INFO -->
                    <form id="editformplayer" action="@{Players.edit_player()}"
                          enctype="multipart/form-data" method="POST" class="form-horizontal">
                        #{authenticityToken /}
                        <fieldset>
                            <div class="control-group">
                                <label class="control-label" for="fileInput">Picture</label>
                                <img src="@{'/public/images/xsmall'}/${player?.image}" style="float: left; margin: 0 20px 0 20px;"/>
                                <div class="controls">
                                    <input class="input-file" type="file" name="image" id="image"/><br/>
                                    Maximum size of 700kb.<br/> 
                                    JPG, GIF, PNG
                                </div>
                            </div>   
                            <div class="control-group">
                                <label class="control-label" for="rfid">Rf-id</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge" id="rfid" placeholder="Scan your rfid" 
                                           value="${player?.rfid}" name="player.rfid" autofocus="autofocus">

                                    <p class="help-block">Let the scaner scan you rfid, so you can logon with it.</p>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="fname">First name</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge" id="fname" placeholder="Your firstname is missing" 
                                           value="${player?.first_name}" name="player.first_name">
                                    <p class="help-block">Enter your real name, so people can recognize you.</p>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="lname">Last name</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge" id="lname" placeholder="Your lastname is missing"
                                           value="${player?.last_name}" name="player.last_name">

                                    <p class="help-block">Enter your real name, so people can recognize you.</p>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="email">Email</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge" id="email" placeholder="Your email is missing"
                                           value="${player?.email}" name="player.email"> 
                                    <p class="help-block">Enter your email, so people can email you.</p>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="bio">Bio</label>
                                <div class="controls">
                                    <textarea id="bio" maxlength="160" name="player.bio" placeholder="Your bio is missing">${player.bio}</textarea>
                                    <p class="help-block">About yourself in fewer than <strong>160</strong> characters.</p>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button id="settings_save" type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </fieldset>
                    </form>
                    <!-- END PLAYER INFO-->
                </div>
                <div class="tab-pane" id="password">
                    <h2>Password</h2>
                    <h3 class="title underline section ">Change your password.</h3>


                    <form class="form-horizontal">
                        <fieldset>
                            <div class="control-group">
                                <label class="control-label" for="current_password">Current password</label>
                                <div class="controls">
                                    <input type="password" class="input-xlarge" id="current_password" placeholder="Enter your current password">
                                    <p class="help-block">Have you forgotten your password?</p>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="new_password">New password</label>
                                <div class="controls">
                                    <input type="password" class="input-xlarge" id="new_password" placeholder="Make a new password">
                                    <p class="help-block">Find a smart one.</p>
                                    <small id="password_strength" class="help-inline help-error"
                                           style="display: none;">Too short</small>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="verify_password">Verify password</label>
                                <div class="controls">
                                    <input type="password" class="input-xlarge" id="verify_password" placeholder="Match it">

                                    <small id="password_match" class="help-inline help-error"
                                           style="display: none;">Password don't match</small>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button id="settings_save" type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </fieldset>
                    </form>
                </div>


                <div class="tab-pane" id="team">
                    <h2>Your teams</h2>
                    <h3 class="title underline section ">Change your teams basic account.</h3>

                    <form action="@{Teams.edit_team(team.id)}" enctype="multipart/form-data" method="POST" class="form-horizontal">
                        #{authenticityToken /}
                        <fieldset>
                            <div class="control-group">
                                <label class="control-label" for="fileInput">Picture</label>
                                <img src="@{'/public/images/xsmall'}/${team?.image}" style="float: left; margin: 0 20px 0 20px;"/>
                                <div class="controls">
                                    <input type="file" name="image" id="team_image" /><br/>
                                    Maximum size of 700k.<br/> 
                                    JPG, GIF, PNG
                                </div>
                            </div>  
                            <div class="control-group">
                                <label class="control-label" for="team_name">Team name</label>
                                <div class="controls">
                                    <input type="text" data-provide="typeahead" class="input-xlarge" id="team_name" 
                                           value="${team?.team_name}" name="team.team_name">
                                    <p class="help-block"></p>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="arch-rival">Arch-rival</label>
                                <div class="controls">
                                    <input type="text" data-provide="typeahead" class="input-xlarge" id="arch-rival" 
                                           value="${team?.arch_rival?.team_name}" name="team.arch_rival.team_name">
                                    <p class="help-block">Don't worry we will find them for you .</p>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="bio">Bio</label>
                                <div class="controls">
                                    <textarea id="team_bio" maxlength="160" name="team.bio">${team?.bio}</textarea>
                                    <p class="help-block">About yourself in fewer than <strong>160</strong> characters.</p>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button id="settings_save2" type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </fieldset>
                    </form>
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>