<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>OpenFoos</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Le styles -->
        <link href="/public/bootstrap/css/bootstrap.css" rel="stylesheet">
        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        <link href="/public/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="/public/stylesheets/openfoos_style.css" rel="stylesheet">

    </head>

    <body>

        <div class="navbar navbar-fixed-top" >
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="startpage">Openfoos</a>

                    <form class="navbar-search pull-right">
                        <input type="text" class="search-query" placeholder="Search">
                    </form>
                </div>
            </div>
        </div>



        <div class="container-fluid">


            <div class="openfoss_main">
                <div class="hero-unit">
                    
                </div><!-- hero-unit -->
                
                <div class="signin">
                    
                </div><!-- info -->
                <div class="signup">
                    
                </div><!-- info -->
                
            </div><!-- .openfoss_main -->




            <footer>

            </footer>


        </div> <!-- /container -->

        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->


    </body>
</html>
