#{extends 'main.html' /}
#{set page:'main' /}

<div class="row" style="margin-top: 100px;">
    <div class="span12">
        <div class="row">
            <div class="span8">
                <img src="/public/images/back.jpg" style="width: 620px; height: 360px" />
            </div>
            <div class="span4 card section shadow">
                
                <form id="profile-signin" action="@{Players.login_player()}" method="POST">
                    <input type="text" name="player.username" 
                           autofocus="autofocus" autocomplete="on" class="input-xlarge"
                           placeholder="Type your username"/>

                    <br/>
                    <input type="password" name="player.password"
                           autofocus="autofocus" autocomplete="on" class="input-xlarge"
                           placeholder="Type your password"/>

                    <br/>
                    <button type="submit" class="btn btn-primary">Sign in</button>

                </form>
            </div>
        
            <div class="span4 card shadow" style="margin-top: 28px;">
                <h4 class="section">
                    New to Openfoos? Sign up here
                </h4>

                <form id="profile-signup" action="@{Players.register_player()}" method="POST">

                    <input type="text" name="player.username" 
                           autofocus="autofocus" autocomplete="on" class="input-xlarge "
                           placeholder="Type your username"/>
                                 
              <p class="help-block">This address will be used as a login identifier.</p>

                    <input type="password" name="player.password"
                           autofocus="autofocus"class="input-xlarge"
                           placeholder="Type your password"/>

                    <button type="submit" class="btn btn-warning">Sign up for OpenFoos</button>
                </form>
            </div>
        </div>
    </div>
</div>

