#{extends 'main.html' /}
#{set page:'settings' /}
<script type="text/javascript" src="/public/javascripts/text_manipulation/openfoos_text.js"></script>

<script type="text/javascript" >
    
    $(document).ready(function(){
        
        
 
        doInputfeltTricks();
        
        $('.bar').css('width', '${compeleted}%')
        
            $('#playerArchRival').typeahead({
            items: 3, 
            source: function (typeahead) {
                return $.get('/application/everybody ',  function (data) 
                {
                    return typeahead.process(data);
                });
            },
            onselect: function (data){
                  
                  
               
            }
        });
        
    });
    
</script>
<div class="row">
    <div class="dashboard">
        <div class="span4 card section">
            <ul class="thumbnails">
                <li>
                    <a href="/players/profile/${player?.username}" class="thumbnail">
                        <img src="@{'/public/images/players'}/${player?.image}" alt="${player?.username}" width="170" >
                    </a>
                </li>
                <li>
                    <h3>${player?.first_name} ${player?.last_name}</h3>
                    <p class="subheader">View your profile page</p>
                </li>
            </ul>
            
            <div class="progress progress-striped
                 active">
                
                <div class="bar" 
                    
                     style="width:100%; "></div>
                    
                </div>
         You have compeleted ${compeleted}% of you profile
        </div>


        <div class="span4">
            <ul id="profile-menu" class="nav nav-tabs nav-stacked ">
                <li class="active">
                    <a href="#account" data-toggle="tab">Profile management
                        <i class="icon-chevron-right pull-right"></i>
                    </a></li>

                <li><a href="#team" data-toggle="tab">Gamer profile ${team.team_name}
                        <i class="icon-chevron-right pull-right"></i>
                    </a>
                </li>
                <li><a href="#password" data-toggle="tab">Password
                        <i class="icon-chevron-right pull-right"></i>
                    </a>
                </li>
            </ul>
             #{if errors}
<div class="alert alert-block">
  <a class="close" data-dismiss="alert" href="#">×</a>
  <h4 class="alert-heading">Warning!</h4>
 <ul>
#{errors}
    <li>${error}</li>
#{/errors}
</ul>
</div>
 #{/if}
            
            
        </div>

    </div>
    <div class="tabbable" style="float: right"> 
        <div class="span8">
            <div class="tab-content card">
                <div class="tab-pane active" id="account">
                    <h2>Profile management</h2>
                    <h3 class="title underline section "> 
                        This information wil be seen by people who visit your profile page.</h3>


                    <!-- FOR PLAYER INFO -->
                    <form id="editformplayer" action="@{PlayerController.editPlayer()}"
                          enctype="multipart/form-data" method="POST" class="form-horizontal">
                        #{authenticityToken /}
                        <fieldset>
                            <div class="control-group">
                                <label class="control-label" for="fileInput">Picture</label>
                                <img src="@{'/public/images/players'}/${player?.image}" style="float: left; margin: 0 20px 0 20px;"/>
                                <div class="controls">
                                    <input class="input-file" type="file" name="image" id="image"/><br/>
                                    Maximum size of 700kb.<br/> 
                                    JPG, GIF, PNG
                                   <p class="help-block"><strong>Reset profile picture.</strong>&nbsp;&nbsp;
                                    <input id="reset" type="checkbox" name="reset"
                                       title="Reset profile picture"/></p>
                                 
                                   
                                </div>
                                
                            </div>   
                            
                            <div class="control-group">
                                <label class="control-label" for="rfid">Rf-id</label>
                                <div class="controls">
                                    <input type="password" class="input-xlarge" id="rfid" placeholder="Scan your rfid" 
                                           value="${player?.rfid}" name="player.rfid" autofocus="autofocus">

                                    <p class="help-block">Let the scaner scan you rfid, so you can logon with it.</p>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="fname">First name</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge" id="fname" placeholder="Your firstname is missing" 
                                           value="${player?.first_name}" name="player.first_name">
                                    <p class="help-block">Enter your real name, so people can recognize you.</p>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="lname">Last name</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge" id="lname" placeholder="Your lastname is missing"
                                           value="${player?.last_name}" name="player.last_name">

                                    <p class="help-block">Enter your real name, so people can recognize you.</p>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="email">Email</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge" id="email" placeholder="Your email is missing"
                                           value="${player?.email}" name="player.email"> 
                                    <p class="help-block">Enter your email, so people can email you.</p>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="bio">Biography</label>
                                <div class="controls">
                                    <textarea id="bio" maxlength="160" name="player.bio" placeholder="Your bio is missing">${player.bio}</textarea>
                                    <p class="help-block">About yourself in fewer than <strong>160</strong> characters.</p>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button id="settings_save" type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </fieldset>
                    </form>
                    <!-- END PLAYER INFO-->
                </div>
                <div class="tab-pane" id="password">
                    <h2>Password</h2>
                    <h3 class="title underline section ">Change your password.</h3>


                    <form action="@{PlayerController.changePassword()}"  method="POST" class="form-horizontal">
                        #{authenticityToken /}
                        <fieldset>
                            <div class="control-group">
                                <label class="control-label" for="current_password">Current password</label>
                                <div class="controls">
                                    <input type="password" class="input-xlarge" id="current_password" 
                                           placeholder="Enter your current password" name="player.password">
                                    
                                    <p class="help-block">Have you forgotten your password?</p>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="new_password">New password</label>
                                <div class="controls">
                                    <input type="password" class="input-xlarge" id="new_password" 
                                           placeholder="Make a new password" name="newPassword">
                                    <p class="help-block">Find a smart one.</p>
                                    <small id="password_strength" class="help-inline help-error"
                                           style="display: none;">Too short</small>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="verify_password">Verify password</label>
                                <div class="controls">
                                    <input type="password" class="input-xlarge" id="verify_password"
                                           placeholder="Match it" name="newPassword2">

                                    <small id="password_match" class="help-inline help-error"
                                           style="display: none;">Password don't match</small>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button id="settings_save" type="submit" class="btn btn-primary">Change your password</button>
                            </div>
                        </fieldset>
                    </form>
                </div>


                <div class="tab-pane" id="team">
                    <h2>Your gamer profle</h2>
                    <h3 class="title underline section ">
                        This information will be shown while playing a match.
                    </h3>

                    <form action="@{TeamController.editTeam(team.id)}" enctype="multipart/form-data" method="POST" class="form-horizontal">
                        #{authenticityToken /}
                        <fieldset>
                            <div class="control-group">
                                <label class="control-label" for="fileInput">Picture</label>
                                <img src="@{'/public/images/teams'}/${team?.image}" style="float: left; margin: 0 20px 0 20px;"/>
                                <div class="controls">
                                    <input type="file" name="image" id="team_image" /><br/>
                                    Maximum size of 700k.<br/> 
                                    JPG, GIF, PNG
                                    <p class="help-block"><strong>Reset profile picture.</strong>&nbsp;&nbsp;
                                    <input id="reset2" type="checkbox" name="reset"
                                       title="Reset profile picture"/></p>
                                </div>
                            </div>  
                            <div class="control-group">
                                <label class="control-label" for="team_name">Team name</label>
                                <div class="controls">
                                    <input type="text" data-provide="typeahead" class="input-xlarge" id="team_name" 
                                           value="${team?.team_name}" name="team.team_name">
                                    <p class="help-block"></p>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="arch-rival">Arch-rival</label>
                                <div class="controls">
                                    <input type="text" data-provide="typeahead" class="input-xlarge" id="playerArchRival" 
                                           value="${team?.arch_rival?.team_name}" name="team.arch_rival.team_name">
                                    <p class="help-block">Don't worry we will find them for you .</p>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="bio">Bio</label>
                                <div class="controls">
                                    <textarea id="team_bio" maxlength="160" name="team.bio">${team?.bio}</textarea>
                                    <p class="help-block">About yourself in fewer than <strong>160</strong> characters.</p>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button id="settings_save2" type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </fieldset>
                    </form>
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>