

/*
@font-face 
{
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Droid Sans'), local('DroidSans'), url('/public/fonts/DroidSans.ttf') format('truetype');
}

@font-face 
{
  font-family: 'Lobster Two';
  font-style: normal;
  font-weight: normal;
  src: local('Lobster Two'), local('LobsterTwo'), url('/public/fonts/LobsterTwo-Regular.ttf') format('truetype');
}

@font-face 
{
  font-family: 'Lobster Two';
  font-style: bold;
  font-weight: 700;
  src: local('Lobster Two'), local('LobsterTwo'), url('/public/fonts/LobsterTwo-Bold.ttf') format('truetype');
}
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**********************************************************************/
/* General 
/**********************************************************************/

body {
    font-size: 20px;
    font-family: 'Lobster two', sans-serif;
    color: #515151;
    background: url('/public/images/game/field.jpg') no-repeat;
}

h1,h2{
    font-weight: 300;  
}


a {
    color: #515151; 
    text-decoration:none;
}

input {
    display: inline-block;
    width: 210px;
    height: 25px;
    padding: 8px;
    font-size: 13px;
    line-height: 18px;
    color: #555;
    border: 1px solid #555;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

}

.container {
    width: 980px;
    margin: 0px auto;
}

.shadow{
    box-shadow:0 0 5px 1px #212121;

    /*
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#686868,direction=0,strength=2)"; 
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#686868,direction=0,strength=2); 
    */
}

img{
    display: block;
}

.clear{
    clear: both;
}

.button {
    margin: 0 0 5px;
    height: 28px;
    line-height: 28px;
    padding: 12px 35px 12px 35px;
    font-size: 16px;
    font-weight: bold;
    color: #515151;
    text-shadow: 0 1px #fff;
    border-width: 1px 1px 0;
    border-style: solid;
    border-color: #cecece #bababa #a8a8a8;
    border-radius: 3px 3px 2px 2px;
    outline: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    display: -moz-inline-box;
    display: inline-block;
    zoom: 1;
    *display: inline;
    background-color: #dfdfdf;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1f1f1), color-stop(70%, #dfdfdf), color-stop(100%, #dadada));
    background-image: -webkit-linear-gradient(top, #f1f1f1 0%, #dfdfdf 70%, #dadada 100%);
    background-image: -moz-linear-gradient(top, #f1f1f1 0%, #dfdfdf 70%, #dadada 100%);
    background-image: -ms-linear-gradient(top, #f1f1f1 0%, #dfdfdf 70%, #dadada 100%);
    background-image: -o-linear-gradient(top, #f1f1f1 0%, #dfdfdf 70%, #dadada 100%);
    background-image: linear-gradient(top, #f1f1f1 0%, #dfdfdf 70%, #dadada 100%);
    -webkit-box-shadow: inset 0 1px #fdfdfd, inset 0 0 0 1px #eaeaea, 0 1px #a8a8a8, 0 3px #bbbbbb, 0 4px #a8a8a8, 0 5px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0 1px #fdfdfd, inset 0 0 0 1px #eaeaea, 0 1px #a8a8a8, 0 3px #bbbbbb, 0 4px #a8a8a8, 0 5px 2px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 1px #fdfdfd, inset 0 0 0 1px #eaeaea, 0 1px #a8a8a8, 0 3px #bbbbbb, 0 4px #a8a8a8, 0 5px 2px rgba(0, 0, 0, 0.25); 
    
}

.button:hover, .button:active {
    text-decoration: none;
    background: #dfdfdf;
    border-top-color: #c9c9c9; 
}

.button:active, .button.green:active,  .button.yellow:active, .button-active {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3), inset 0 1px 1px rgba(0, 0, 0, 0.4), 0 1px white;
    -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3), inset 0 1px 1px rgba(0, 0, 0, 0.4), 0 1px white;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3), inset 0 1px 1px rgba(0, 0, 0, 0.4), 0 1px white; 
}

.button.green {
    color: #465f25;
    text-shadow: 0 1px #d9f3b5;
    border-color: #91ce5e #7ab04b #5e903f;
    background-color: #94d362;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c0eb85), color-stop(70%, #94d362), color-stop(100%, #8ed258));
    background-image: -webkit-linear-gradient(top, #c0eb85 0%, #94d362 70%, #8ed258 100%);
    background-image: -moz-linear-gradient(top, #c0eb85 0%, #94d362 70%, #8ed258 100%);
    background-image: -ms-linear-gradient(top, #c0eb85 0%, #94d362 70%, #8ed258 100%);
    background-image: -o-linear-gradient(top, #c0eb85 0%, #94d362 70%, #8ed258 100%);
    background-image: linear-gradient(top, #c0eb85 0%, #94d362 70%, #8ed258 100%);
    -webkit-box-shadow: inset 0 1px #d9f3b5, inset 0 0 0 1px #b1e095, 0 1px #5e903f, 0 3px #6da445, 0 4px #5e903f, 0 5px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 1px #d9f3b5, inset 0 0 0 1px #b1e095, 0 1px #5e903f, 0 3px #6da445, 0 4px #5e903f, 0 5px 2px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 1px #d9f3b5, inset 0 0 0 1px #b1e095, 0 1px #5e903f, 0 3px #6da445, 0 4px #5e903f, 0 5px 2px rgba(0, 0, 0, 0.4); }
.button.green:hover, .button.green:active {
    background: #94d362;
    border-top-color: #82bd53; }

.button.yellow {
    color: #7e4f27;
    text-shadow: 0 1px #f2e294;
    border-color: #efb443 #d9a238 #a57825;
    background-color: #f6ba49;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffdd67), color-stop(70%, #f6ba49), color-stop(100%, #f4b03e));
    background-image: -webkit-linear-gradient(top, #ffdd67 0%, #f6ba49 70%, #f4b03e 100%);
    background-image: -moz-linear-gradient(top, #ffdd67 0%, #f6ba49 70%, #f4b03e 100%);
    background-image: -ms-linear-gradient(top, #ffdd67 0%, #f6ba49 70%, #f4b03e 100%);
    background-image: -o-linear-gradient(top, #ffdd67 0%, #f6ba49 70%, #f4b03e 100%);
    background-image: linear-gradient(top, #ffdd67 0%, #f6ba49 70%, #f4b03e 100%);
    -webkit-box-shadow: inset 0 1px #ffeca6, inset 0 0 0 1px #e5c96d, 0 1px #a57825, 0 3px #c08a28, 0 4px #a57825, 0 5px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 1px #ffeca6, inset 0 0 0 1px #e5c96d, 0 1px #a57825, 0 3px #c08a28, 0 4px #a57825, 0 5px 2px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 1px #ffeca6, inset 0 0 0 1px #e5c96d, 0 1px #a57825, 0 3px #c08a28, 0 4px #a57825, 0 5px 2px rgba(0, 0, 0, 0.4); 
}

.button.yellow:hover, .button.yellow:active {
    background: #f6ba49;
    border-top-color: #e5ab3d; 
}

/**********************************************************************/
/* 
/**********************************************************************/

#playfield{
    overflow: hidden;   
}

#game-state{
    width: 122px;
    margin: 150px auto;
}

#home-team{
    float: left;
    z-index: 2000;
}

#visitor-team{
    float: right;
    z-index: 2000;
}

.player-container{
    width: 200px;
    height: 210px;
    overflow: hidden;
    float: left;
    margin: 0px 5px 0px 5px;
    cursor: pointer;
}

.player{
    outline: 0;
    overflow: hidden;
}

.player-login, .player-logout, .player-score{
    width: 200px;
    height: 190px;
    display: block;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, .4) 0px 1px 11px;    
}

.strong-shadow
{
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3), inset 0 1px 1px rgba(0, 0, 0, 0.4), 0 1px white;
    -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3), inset 0 1px 1px rgba(0, 0, 0, 0.4), 0 1px white;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3), inset 0 1px 1px rgba(0, 0, 0, 0.4), 0 1px white; 
}

.player-image {
    width: 198px;
    height: 160px;
    background-color: white;
    background: white url('/public/images/players/player.png') no-repeat 50%;
    border: 1px solid #7f7f7f;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.player-status{
    text-align: center;
    height: 25px;
    border: 1px solid;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding-top: 3px;
}

.player-login .player-status{
    background-color: #ffe550; 
    color: #ac8722;
    border-color: #ac8722;
}

.player-logout .player-status{
    background-color: #ff5e44; 
    color: #862819;
    border-color: #862819;
}

.player-score .player-status{
    background-color: #acff62; 
    color: #56812f;
    border-color: #56812f;
}

.player-name {
    font-size: 22px;
    font-weight: bold; 
    text-align: center;
color: #212121;

}


#board {
    background: url('/public/images/game/board.jpeg');
    position: fixed;
    bottom: 0px;
    height: 235px;
    width: 980px;
    margin: 0px auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px 10px 0px 10px;
    box-shadow: rgba(0, 0, 0, .4) 0px 1px 22px;
    z-index: 2000;
    border: 1px solid #6f2411;
}

#board-container {
    background: url('/public/images/game/board.jpeg') 50% 50%;
    position: fixed;
    bottom: 0px;
    height: 215px;
    width: 100%;
    z-index: 1800;
    border: 1px solid #6f2411;
}

#username, #password{
    padding: 10px;
    width: 250px;
}

#login-container{
    width: 940px;
    margin: 80px auto;
}

#score-board{
    width: 240px;
    margin: 25px auto;
    overflow: hidden;
}

.score{
    background-color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 52px;
    color: black;
    margin: 0px 5px 0px 5px;
    box-shadow: rgba(0, 0, 0, .7) 0px 1px 12px;
    border-radius: 5px;
    font-weight: 800;
    border: 1px solid #373737;
}

#home-score, #visitor-score{
    padding-top: 25%;
    display: block;
}

.score-label{
    text-align: center;
    font-size: 28px;
    color: black;
    margin-bottom: 10px;
    opacity: 0.7;
    font-weight: bold;
}

#home, #visitor{
    width: 120px;
    height: 150px;
    float: left;
}

#messages{
    position: fixed;
    left: 50%;
    margin-left: -250px;
    width: 500px;
    background-color: white; 
    color: #555;
    z-index: 5000; 
    padding: 45px; 
    box-shadow: rgba(0, 0, 0, .4) 0px 1px 12px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: none;
}

#result-container{
    position: fixed;
    left: 50%;
margin-left: -435px;
    width: 900px;
    top: 0%;
    z-index: 2050;
    overflow: auto;
    height: 460px;
    background-color: #ffffff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    background-clip: padding-box;
}

#result-teams{
 width: 802px; 
margin: 65px auto; 
overflow: hidden;
}

#result-home{
  border-right: 1px dashed silver;
}
#result-home, #result-visitor{
    width: 400px;
    float: left;
}

.result-medal{
    height: 160px;
    width: 60px;
    margin: 0px auto 15px auto;
}

.result-info{
    text-align: center;
font-weight: bold;
}

#result-buttons{
    width: 270px;
    margin: 25px auto;
}

#result-title{
    font-size: 18px;
    text-align: center;
}

#welcome 
{
    color: black; 
    opacity: 0.7; 
    text-align: center;
    display: block;
    margin-top: 40px;
    font-weight: bold;
}

#welcome h1 {font-size: 46px;}
#welcome h2 {font-size: 32px;}

#request-indicator{
    display: none;
    position: fixed;
    bottom: 0px;
    left: 10px; 
    background-color: black;
    padding: 25px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 2500;
}

.goal-options{
    
    display: none;
    width: 198px;
    height: 160px;
    background-color: white;
    border: 1px solid #7f7f7f;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    z-index: 1050;
    position: absolute;
}

.goal-options-score, .goal-options-unscore, .goal-options-backfire, .goal-options-cancel
{
   width: 97px;
   height: 78px;
   text-align:center;
font-weight: bold;
font-size: 18px;
}

.goal-options-score
{
   float: left;
background-color: #acff62; 
    color: #56812f;
    border: 1px solid #56812f;
border-top-left-radius: 5px;
}

.goal-options-unscore
{
   float: left;
}

.goal-options-backfire
{
  border-top-right-radius: 5px;
  float: right;
}

.goal-options-cancel
{
   float: right;
}

.goal-options-unscore, .goal-options-backfire, .goal-options-cancel
{
background-color: #ffe550; 
    color: #ac8722;
    border: 1px solid #ac8722;

}

.goal-options-unscore .goal-options-label, .goal-options-backfire .goal-options-label{
  position: relative; 
  top: 25%;
  bottom: 25%;
}

.goal-options-score .goal-options-label, .goal-options-cancel .goal-options-label{
  position: relative; 
  top: 35%;
  bottom: 35%;
}

#game-mode
{   
    margin: 0px auto;
    text-align: center;
}
#game-mode h3
{
    color: black;
    margin-bottom: 15px;
}

.team-name-container{
    text-align: center;
    margin: 15px 0 15px;
}

.team-name{
    min-width: 140px;
    height: 15px;
    line-height: 15px;
    padding: 12px 35px 12px 35px;
    font-size: 16px;
    font-weight: bold;
    color: #212121;
    text-shadow: 0 1px #fff;
    border-width: 1px 1px 0;
    border-style: solid;
    border-color: #cecece #bababa #a8a8a8;
    border-radius: 3px 3px 2px 2px;
    outline: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: baseline;
    background-color: white;
    -webkit-box-shadow: inset 0 1px #fdfdfd, inset 0 0 0 1px #eaeaea, 0 1px #a8a8a8, 0 3px #bbbbbb, 0 4px #a8a8a8, 0 5px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0 1px #fdfdfd, inset 0 0 0 1px #eaeaea, 0 1px #a8a8a8, 0 3px #bbbbbb, 0 4px #a8a8a8, 0 5px 2px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 1px #fdfdfd, inset 0 0 0 1px #eaeaea, 0 1px #a8a8a8, 0 3px #bbbbbb, 0 4px #a8a8a8, 0 5px 2px rgba(0, 0, 0, 0.25);     
}

.typeahead {
margin-top: 2px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.dropdown-menu {
position: absolute;
top: 100%;
left: 0;
z-index: 1000;
float: left;
display: none;
min-width: 160px;
padding: 4px 0;
margin: 0;
list-style: none;
background-color: white;
border-color: #CCC;
border-color: rgba(0, 0, 0, 0.2);
border-style: solid;
border-width: 1px;
-webkit-border-radius: 0 0 5px 5px;
-moz-border-radius: 0 0 5px 5px;
border-radius: 0 0 5px 5px;
-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box;
}

.dropdown-menu a {
display: block;
padding: 3px 15px;
clear: both;
font-weight: normal;
line-height: 18px;
color: #333;
white-space: nowrap;
}

.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
color: white;
text-decoration: none;
background-color: #08C;
}

#rfidlogo
{
    width: 22px;
    height: 25px;
    display: inline-block;
}