#{extends 'main.html' /}
#{set page:'team_settings' /}
<script type="text/javascript" src="/public/javascripts/text_manipulation/openfoos_text.js"></script>
<script type="text/javascript" >
    
    $(document).ready(function(){
        
        
        $('#arch-rival').typeahead()
        .on('keyup', function(ev){

            ev.stopPropagation();
            ev.preventDefault();

            //filter out up/down, tab, enter, and escape keys
            if( $.inArray(ev.keyCode,[40,38,9,13,27]) === -1 ){

                var self = $(this);
                
                //a empty source
                self.data('typeahead').source = [];

                //active used so we aren't triggering duplicate keyup events
                if( !self.data('active') && self.val().length > 0){

                    self.data('active', true);

                    //Do data request. Insert your own API logic here.
                    $.getJSON("@{TeamController.allTeamsByTeam_name()}",{
                               
                               
                        //if we dont use filter vi the typehead can sort list for us. 
                        //or change the method sett Like  % var % 
                        // filter: $(this).val() use this for PlayerController
                        
                        
                        filter: self.val()
                    }, function(data) {
                  
                        //set this to true when your callback executes
                        self.data('active',true);

                        //change values
                        var arr = [],
                        
                        i=data.length;
                        while(i--){
                            arr[i] = data[i].team_name
                        }

                        //set your results into the typehead's source 
                        self.data('typeahead').source = arr;

                        //trigger keyup on the typeahead to make it search
                        self.trigger('keyup');

                        //All done, set to false to prepare for the next remote query.
                                
                        self.data('active', false);

                    });

                }
            }
        });
        
        doInputfeltTricks();


  $('.bar').css('width', '${compeleted}%')

        
    });
   
</script>
#{if  ( (session.pid && ((Long.parseLong(session.pid) == team?.player1?.id)||(Long.parseLong(session.pid) == team?.player2?.id))) && session.token && session.login)}
<div class="row">
    <div class="dashboard">
        <div class="span4 card section">
            <ul class="thumbnails">
               
<!--                /teams/profile/${team?.team_name}-->
                <li>
                    <a href="@{TeamController.profile(team?.team_name)}" class="thumbnail">
                        <img src="@{'/public/images/medium'}/${team?.image}" alt="${team?.team_name}">
                    </a>
                </li>
                <li>
                    <h3>${team.team_name}</h3>
                    <p class="subheader">View your profile page</p>
                </li>
            </ul>
              <div class="progress progress-striped
                 active">
                <div class="bar"
                     style="width: 100%;"></div>
            </div>
             You have compeleted ${compeleted}% of you profile
        </div>

        <div class="span3">
       
    
        </div>

    </div>
    <div class="tabbable" style="float: right"> 
        <div class="span8">
            <div class="tab-content card">
                <div class="tab-pane active" id="account">
                    <h2>Your teams</h2>
                    <h3 class="title underline section ">Change your teams basic account.</h3>





                    <form action="@{TeamController.editTeam(team.id)}" enctype="multipart/form-data" method="POST" class="form-horizontal">
                        #{authenticityToken /}
                        <fieldset>
                            <div class="control-group">
                                <label class="control-label" for="fileInput">Picture</label>
                                <img src="@{'/public/images/xsmall'}/${team?.image}" style="float: left; margin: 0 20px 0 20px;"/>
                                <div class="controls">
                                    <input type="file" name="image" id="team_image" /><br/>
                                    Maximum size of 700k.<br/> 
                                    JPG, GIF, PNG
                                </div>
                            </div>  
                            <div class="control-group">
                                <label class="control-label" for="team_name">Team name</label>
                                <div class="controls">
                                    <input type="text" data-provide="typeahead" class="input-xlarge" id="team_name" 
                                           value="${team?.team_name}" name="team.team_name">
                                    <p class="help-block"></p>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="arch-rival">Arch-rival</label>
                                <div class="controls">
                                    <input type="text" data-provide="typeahead" class="input-xlarge" id="arch-rival" 
                                           value="${team?.arch_rival?.team_name}" name="team.arch_rival.team_name">
                                    <p class="help-block">Don't worry we will find them for you .</p>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="bio">Bio</label>
                                <div class="controls">
                                    <textarea id="team_bio" maxlength="160" name="team.bio">${team?.bio}</textarea>
                                    <p class="help-block">About yourself in fewer than <strong>160</strong> characters.</p>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button id="settings_save2" type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
#{/if}