#{extends 'main.html' /}
#{set page:'team_settings' /}
<script type="text/javascript" src="/public/javascripts/text_manipulation/openfoos_text.js"></script>
<script type="text/javascript" >
    
    $(document).ready(function(){
        
        
        $('#arch-rival').typeahead()
        .on('keyup', function(ev){

            ev.stopPropagation();
            ev.preventDefault();

            //filter out up/down, tab, enter, and escape keys
            if( $.inArray(ev.keyCode,[40,38,9,13,27]) === -1 ){

                var self = $(this);
                
                //a empty source
                self.data('typeahead').source = [];

                //active used so we aren't triggering duplicate keyup events
                if( !self.data('active') && self.val().length > 0){

                    self.data('active', true);

                    //Do data request. Insert your own API logic here.
                    $.getJSON("@{Teams.allTeamsByTeam_name()}",{
                               
                               
                        //if we dont use filter vi the typehead can sort list for us. 
                        //or change the method sett Like  % var % 
                        // filter: $(this).val() use this for PlayerController
                        
                        
                        filter: self.val()
                    }, function(data) {
                  
                        //set this to true when your callback executes
                        self.data('active',true);

                        //change values
                        var arr = [],
                        
                        i=data.length;
                        while(i--){
                            arr[i] = data[i].team_name
                        }

                        //set your results into the typehead's source 
                        self.data('typeahead').source = arr;

                        //trigger keyup on the typeahead to make it search
                        self.trigger('keyup');

                        //All done, set to false to prepare for the next remote query.
                                
                        self.data('active', false);

                    });

                }
            }
        });
        
        doInputfeltTricks();



        
    });
   
</script>
<div class="row">
    <div class="dashboard">
        <div class="span4 card section">
            <ul class="thumbnails">
                <li>
                    <a href="/team" class="thumbnail">
                        <img src="http://placehold.it/40x40" alt="">
                    </a>
                </li>
                <li>
                    <h3>${team.team_name}</h3>
                    <p class="subheader">View my profile page</p>
                </li>
            </ul>
        </div>

        <div class="span4">
            <ul id="profile-menu" class="nav nav-tabs nav-stacked ">
                <li class="active">
                    <a href="#account" data-toggle="tab">Account
                        <i class="icon-chevron-right pull-right"></i>
                    </a></li>
                <li><a href="#password" data-toggle="tab">Password
                        <i class="icon-chevron-right pull-right"></i>
                    </a>
                </li>
                <!--
                <li><a href="#team" data-toggle="tab">Your teams
                        <i class="icon-chevron-right pull-right"></i>
                    </a>
                </li>
                -->
            </ul>
        </div>

    </div>
    <div class="tabbable" style="float: right"> 
        <div class="span8">
            <div class="tab-content card">
                <div class="tab-pane active" id="account">
                    <h2>Your teams</h2>
                    <h3 class="title underline section ">Change your teams basic account.</h3>

                    <form class="form-horizontal">
                        <fieldset>
                            <div class="control-group">
                                <label class="control-label" for="fileInput">Picture</label>
                                <img src="https://si0.twimg.com/sticky/default_profile_images/default_profile_2_bigger.png" style="float: left; margin: 0 20px 0 20px;"></img>
                                <div class="controls">
                                    <input class="input-file" id="fileInput" type="file"><br/>
                                    Maximum size of 700k.<br/> 
                                    JPG, GIF, PNG
                                </div>
                            </div>  
                            <div class="control-group">
                                <label class="control-label" for="team-name">Team name</label>
                                <div class="controls">
                                    <input type="text" data-provide="typeahead" class="input-xlarge" id="team-name">
                                    <p class="help-block"></p>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="arch-rival">Arch-rival</label>
                                <div class="controls">
                                    <input type="text" data-provide="typeahead" class="input-xlarge" id="arch-rival">
                                    <p class="help-block"></p>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="bio">Bio</label>
                                <div class="controls">
                                    <textarea id="bio" maxlength="160" name="user-bio"></textarea>
                                    <p class="help-block">About yourself in fewer than <strong>160</strong> characters.</p>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button id="settings_save" type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>